*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    background-color: #030829;
    /* overflow: hidden;
    height: auto; */
}
.container{
    /* width: 95%; */
    /* margin: 0px 2.5%; */
    overflow: hidden;
}
.main{
    color: #66FCF1;
    /* overflow: hidden; */

}
.li-pt > ul > a > li{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.li-pt > ul{
    display: flex;

}
.li-pt > ul > a > li{
    list-style: none;
    margin: 0px 24px;
}
.li-pt > ul > a{
    text-decoration: none;
    color: #66FCF1;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}
.face > img{
    height: 40px;
    margin-top: 28px;
}
h1{
    font-size: 83.6pt;
    font-family: 'Etna', sans-serif;
    position: relative;
    right: 90px;
}
.w{
    font-size: 292pt;
    position: relative;
    left: 100px;
    top: 36px;
}
.face{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 50px;
}
h2{
    font-family: 'Gill', sans-serif;
    margin-top: 40px;
    font-weight: 100;
    font-size: 50px;
}
.face > a > button{
    background-color: transparent;
    border: solid 2px #66FCF1;
    color: white;
    padding: 12px 33px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    margin-top: 40px;
    transition: 200ms ease;
    cursor: pointer;
}
.main > .video-container> video{
    position: absolute;
    height: 102%;
    width: 100%;
    /* width:98.9vw; */
    /* width: auto; */
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0.74;
    object-fit: cover;
}
.face > a > button:hover{
    background-color: #66FCF1;
    /* border: solid 2px #030829; */
    color: #030829;
}

.about{
    background-color: #66FCF1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.about-left > img{
    height: 40px;
    /* align-items: flex-start; */
    margin-left: auto;
}
.about-item{
    width: 40%;
}
.about-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Etna', sans-serif;
    font-weight: 400;
    font-size: 105pt;
    color: #030829;
    width: 36%;
    height: 500px;
    background-image: url(../media/about-left-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: visible;

}
.about-heading-1{
    align-self: flex-start;
}
.about-heading-2{
    align-self: flex-end;
}
.about-right{
    padding: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-right > p{
    font-family: "Red Hat Display", sans-serif;
    font-size: 18pt;
    padding-top: 70px;
}
.services{
    display: flex;
    flex-direction: column;
    height: auto;
}
.bg-services-box{
    /* background-color: rgb(221, 0, 255); */
    height: 40vh;
    font-family: 'Etna', sans-serif;
    color: #66FCF1;
    font-size: 82pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../media/services-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 50vw;
}
.top-heading-services > img{
    height: 83px;
}
.top-heading-services{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 580px;
    position: relative;
    right: 4px;
}
.bg-services-box > p{
    position: relative;
    bottom: 15px;

}
.services-heading{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
    margin-top: 50px;
}

.service-cards{
    /* background-color: azure; */
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 120px;
    background-image: url(../media/service-card-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.card > img{
    height: 160px;
}
.card{
    height: 320px;
    width: 320px;
    background-color: #66FCF1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h3{
    font-size: 44pt;
    font-family: 'Etna'; 

    text-align: center;
    font-weight: 200;
}

.reviews{
    background-color: #66FCF1;
    height: 130vh;
    height: auto;
}
.bg-reviews-box{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-image: url(../media/mission-heading-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 400px;
}
.bg-reviews-box > img{
    height: 75px;
    align-self: flex-end;
    position: relative;
    bottom: 20px;
    right: 10px;
    z-index: 1;
}
h4{
    font-size: 82pt;
    font-family: 'Etna'; 
    color: #030829;
    position: relative;
    bottom: 50px;
}
.review-card{
    background-color: #030829;
    height: 292px;
    width: 600px;
    margin: 20px 20px;
    display: flex;
    border-radius: 8px;

}
.bg-reviews-box{
    width: 800px;
}
.heading-reviews{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    margin-top: 70px;
}

.review-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 150px;
}
.set{
    display: flex;
    justify-content: center;
}
.left-review-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px 25px 0px 15px;
}
.review-img{
    height: 170px;
    border-radius: 10px;
    margin-top: 15px;
    /* margin-bottom: px; */
}
.five-star{
    height: 30px;
    margin-bottom: 50px;
}
.right-review-card > p{
    color: white;
    font-family: "Poppins", sans-serif;
    margin-right: 20px;

}
h5{
    color: #E3FF00;
    font-size: 39.5pt;
    font-family: 'Etna', sans-serif;
    margin-bottom: 20px;

}

.mission{
    height: 130vh;
    background-color: #030829;
}
.mission-heading{
    color: #66FCF1;
    font-size: 82pt;
    font-family: 'Etna', sans-serif;
}
.mission-header-top > img{
    height: 100px;
}


.mission-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mission-header-top{
    display: flex;
}
.mission-wrapper{
    width: 400px;
}