*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
:root {
    --big: 82pt;
    /* --white: #ffffff; */
  }
body{
    display: flex;
    justify-content: center;
    background-color: #030829;
    /* overflow: hidden;
    height: auto; */
}
.container{
    /* width: 95%; */
    /* margin: 0px 2.5%; */
    overflow: hidden;
}
.main{
    color: #66FCF1;
    /* overflow: hidden; */
    min-height: 715px;

}
.li-pt > ul > a > li{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    z-index: 10;
    
}
.li-pt > ul{
    display: flex;

}
.li-pt > ul > a > li{
    list-style: none;
    margin: 0px 24px;
}
.li-pt > ul > a{
    text-decoration: none;
    color: #66FCF1;
}
.first-nav{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
    z-index: 10;
}
.face > img{
    height: 40px;
    margin-top: 28px;
}
h1{
    font-size: var(--big);
    font-family: 'Etna', sans-serif;
    position: relative;
    right: 90px;
}
.w{
    font-size: 292pt;
    position: relative;
    left: 100px;
    top: 36px;
}
.face{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 80px;
}
h2{
    font-family: 'Gill', sans-serif;
    margin-top: 40px;
    font-weight: 100;
    font-size: 50px;
}
.face > a > button{
    background-color: transparent;
    border: solid 2px #66FCF1;
    color: white;
    padding: 12px 33px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    margin-top: 40px;
    transition: 200ms ease;
    cursor: pointer;
}
.main > .video-container> video{
    position: absolute;
    min-height: 1400px;
    width: 100%;
    /* width:98.9vw; */
    /* width: auto; */
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0.74;
    object-fit: cover;
}
.face > a > button:hover{
    background-color: #66FCF1;
    /* border: solid 2px #030829; */
    color: #030829;
}

.about{
    background-color: #66FCF1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 500px;
}
.about-left > img{
    height: 40px;
    /* align-items: flex-start; */
    margin-left: auto;
}
.about-item{
    width: 40%;
}
.about-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Etna', sans-serif;
    font-weight: 400;
    font-size: 105pt;
    color: #030829;
    width: 36%;
    height: 500px;
    background-image: url(../media/about-left-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: visible;

}
.about-heading-1{
    align-self: flex-start;
}
.about-heading-2{
    align-self: flex-end;
}
.about-right{
    padding: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-right > p{
    font-family: "Red Hat Display", sans-serif;
    font-size: 18pt;
    padding-top: 70px;
    font-weight: 600;

}
.services{
    background-color: #030829;
    display: flex;
    flex-direction: column;
    height: auto;
    /* padding: 30px 0px; */
    padding-top: 50px;
}
.bg-services-box{
    /* background-color: rgb(221, 0, 255); */
    height: 40vh;
    font-family: 'Etna', sans-serif;
    color: #66FCF1;
    font-size: var(--big);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../media/services-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: auto;
}
.top-heading-services > img{
    height: 83px;
}
.top-heading-services{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 580px;
    position: relative;
    right: 4px;
}
.bg-services-box > p{
    position: relative;
    bottom: 15px;

}
.services-heading{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
    margin-top: 50px;
}

.service-cards{
    /* background-color: azure; */
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 120px;
    background-image: url(../media/service-card-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.card > img{
    height: 160px;
}
.card{
    height: 320px;
    width: 320px;
    background-color: #66FCF1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    background-image: url(../media/web\ dev.gif);
}
.card-1{
    background-image: url(../media/web\ dev.gif);
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
}
.card-2{
    background-image: url(../media/web\ des.gif);
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
}
.card-3{
    background-image: url(../media/graphic\ des.gif);
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
}
.h3-line-2{
    color: #640000;
    font-size: 39pt;
}
h3{
    font-size: 44pt;
    font-family: 'Etna'; 
    color: #030829;
    text-align: center;
    font-weight: 200;
}

.reviews{
    background-color: #66FCF1;
    height: 130vh;
    height: auto;
}
.bg-reviews-box{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-image: url(../media/mission-heading-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 400px;
}
.bg-reviews-box > img{
    height: 75px;
    align-self: flex-end;
    position: relative;
    bottom: 20px;
    right: 10px;
    z-index: 1;
}
h4{
    font-size: var(--big);
    font-family: 'Etna'; 
    color: #030829;
    position: relative;
    bottom: 50px;
}
.review-card{
    background-color: #030829;
    min-height: 292px;
    width: 600px;
    margin: 20px 20px;
    display: flex;
    border-radius: 8px;

}
.bg-reviews-box{
    width: 800px;
}
.heading-reviews{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    margin-top: 70px;
}

.review-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 150px;
}
.set{
    display: flex;
    justify-content: center;
}
.left-review-card{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    margin: 0px 25px 0px 15px;
}
.review-img{
    height: 170px;
    border-radius: 10px;
    margin-top: 15px;
    /* margin-bottom: px; */
}
.five-star{
    height: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.right-review-card > p{
    color: white;
    font-family: "Poppins", sans-serif;
    margin-right: 20px;
    padding-bottom: 15px;

}
h5{
    color: #E3FF00;
    font-size: 39.5pt;
    font-family: 'Etna', sans-serif;
    margin-bottom: 20px;

}

.mission{
    height: auto;
    background-color: #030829;
    padding: 80px 0px;
}
.mission-heading{
    color: #66FCF1;
    font-size: var(--big);
    font-family: 'Etna', sans-serif;
}
.mission-header-top > img{
    height: 100px;
}


.mission-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 120px;
}

.mission-header-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.mission-wrapper{
    width: 550px;
    display: flex;
    flex-direction: column;
    background-image: url(../media/reviews-heading-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.mission-heading-2{
    text-align: center;
    position: relative;
    bottom: 20px;
}

.mission-content{
    display: flex;   
    justify-content: center;
    align-items: center;
}
.mission-cont{
    width: 40%;
}

.sub-cont-left-1{
    font-size: 33pt;
    color: #66FCF1;
    text-align: center;
    font-family: 'Tan', sans-serif;
    margin-bottom: 40px;

}
.sub-cont-left-2{
    font-size: 29pt;
    color: #66FCF1;
    font-family: "Red Hat Display", sans-serif;
    text-align: center;
}
.mission-cont-right{
    display: flex;
    justify-content: center;
    background-image: url(../media/mission-cont-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}
.mission-cont-right > img{
    height: 500px;
    position: relative;
    left: 30px;
}


.contact{
    background-color: #66FCF1;

    height: auto;
    padding: 40px 0px;
    padding-bottom: 100px;
}
.contact-heading-top > img{
    height: 70px;
    margin-left: 30px;
}
.contact-heading-top{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.contact-heading{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.contact-wrapper{
    width: 580px;
    background-image: url(../media/contact-top.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
h6{
    font-size:var(--big);
    font-family: 'Etna', sans-serif;
    text-align: end;
    color: #030829;
}
h6 > span{
    position: relative;
    top: 40px;
    right: 8px
}
.contact-content{
    display: flex;
    justify-content: center;
}
.contact-cont-1{
    background-color: #030829;
    width: 40%;
}
.contact-cont-2{
    background-color: #640000;
    width: 25%;
    margin-left: 50px;
}
.contact-cont{
    height: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.h7{
    font-size: 36pt;
    color: #66FCF1;
    font-family: 'Etna', sans-serif;
    margin: 16px 0px;
}

.contact-items > p{
    font-size: 20pt;
    text-align: center;
    color: #66FCF1;
    font-family: "Red Hat Display", sans-serif;
    padding: 0px 15px;
}
.contact-item-2{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: space-between;
}
.contact-btn{
    font-size: 13pt;
    padding: 13px 22px;
    background-color: transparent;
    border: solid 2px #66FCF1;
    border-radius: 3px;
    color: white;
    font-family: "Red Hat Display", sans-serif;
    transition: 200ms ease;
    
}

.packet > img{
    width: 50px;
}

.contact-item-1{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* height: 200px; */
    /* justify-content: space-between; */
    width: 80%;

}
.packet{
    margin-bottom: 12px;
    display: flex;
    /* justify-content: center; */
    align-items: center;

}
.packet > p{
    color: #66FCF1;
    font-size: 20pt;
    margin-left: 50px;
    font-family: "Poppins", sans-serif;


}

.contact-btn:hover{
    background-color: #66FCF1;
    /* border: solid 2px #030829; */
    color: #030829;
    cursor: pointer;
}

.smoll{
    /* transform: scale(1.2); */
    /* color: #E3FF00; */
    font-size: 38pt ;
}

.h7{
    text-align: center;
}

.service-cards > a{
    /* list-style: none; */
    text-decoration: none;
}
.contact-items > a{
    text-decoration: none;
}

.li-pt > ul > a > img{
    width: 30px;
}
.li-pt > ul > a{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.li-pt > ul > a > img{
    margin-bottom: 7px;
    transition: 200ms ease;
    z-index: 10;
}
.li-pt > ul > a:hover > img {
    transform: scale(1.4);
}

.mobile-nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #66FCF1;
    z-index: 100;
    height: 100%;
    width: 70%;
    /* right: 0px; */
    /* justify-content: center; */
    align-items: center;
  }
  .mobile-nav > ul > a > img{
    width: 40px;
  }
  .mobile-nav > ul > a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    margin: 25px 0px;
  }
  .mobile-nav > ul > a > li{
    list-style: none;
    color: #030829;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 26pt;
    margin-left: 20px;

  }
  .h9{
    color: #030829;
    margin: 20px 0px;
    font-size: 30pt;
    font-family: 'Etna', sans-serif;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }



  
  .burger{
      display: flex;
      flex-direction: column;
    z-index: 100;
    position: fixed;
    right: 15px;
    top: 5px;
    /* background-color: #030829;*/
    /* padding: 6px 8px;  */
    padding: 10px 0px; 
}
.line{
    height: 2px ;
    width: 40px;
    margin: 3px 0px;
    z-index: 100;
    transition: background-color 0.3s, border-color 0.3s;
}

  .mobile-nav, .burger{
    display: none;
}
.line-aqua {
    border: solid #66FCF1 1px;
    background-color: #66FCF1;
}

.line-blue {
    border: solid #030829 1px;
    background-color: #030829;
}

.line-green {
    border: solid #66FCF1 1px;
    background-color: #66FCF1;
}

.line-red {
    border: solid #030829 1px;
    background-color: #030829;
}

.line-yellow {
    border: solid #66FCF1 1px;
    background-color: #66FCF1;
}

.line-gray {
    border: solid #030829 1px;
    background-color: #030829;
}