*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    background-color: #030829;
    /* overflow: hidden;
    height: auto; */
}
.container{
    /* width: 95%; */
    /* margin: 0px 2.5%; */
    overflow: hidden;
}
.main{
    color: #66FCF1;
    /* overflow: hidden; */

}
.li-pt > ul > a > li{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.li-pt > ul{
    display: flex;

}
.li-pt > ul > a > li{
    list-style: none;
    margin: 0px 24px;
}
.li-pt > ul > a{
    text-decoration: none;
    color: #66FCF1;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}
.face > img{
    height: 40px;
    margin-top: 28px;
}
h1{
    font-size: 83.6pt;
    font-family: 'Etna', sans-serif;
    position: relative;
    right: 90px;
}
.w{
    font-size: 292pt;
    position: relative;
    left: 100px;
    top: 36px;
}
.face{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 50px;
}
h2{
    font-family: 'Gill', sans-serif;
    margin-top: 40px;
    font-weight: 100;
    font-size: 50px;
}
.face > a > button{
    background-color: transparent;
    border: solid 2px #66FCF1;
    color: white;
    padding: 12px 33px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    margin-top: 40px;
    transition: 200ms ease;
    cursor: pointer;
}
.main > .video-container> video{
    position: absolute;
    height: 102%;
    width: 100%;
    /* width:98.9vw; */
    /* width: auto; */
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0.74;
    object-fit: cover;
}
.face > a > button:hover{
    background-color: #66FCF1;
    /* border: solid 2px #030829; */
    color: #030829;
}

.about{
    background-color: #66FCF1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.about-left > img{
    height: 40px;
    /* align-items: flex-start; */
    margin-left: auto;
}
.about-item{
    width: 40%;
}
.about-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Etna', sans-serif;
    font-weight: 400;
    font-size: 105pt;
    color: #030829;
    width: 36%;
    height: 500px;
    background-image: url(../media/about-left-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: visible;

}
.about-heading-1{
    align-self: flex-start;
}
.about-heading-2{
    align-self: flex-end;
}
.about-right{
    padding: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-right > p{
    font-family: "Red Hat Display", sans-serif;
    font-size: 18pt;
    padding-top: 70px;
}