.main{
    /* display: none; */
    }
    .about{
    /* display: none; */
    }
    .reviews{
    display: none;
    }
    .services{
    /* display: none; */
    }
    .mission{
    display: none;
    }
    .contact{
        display: none;
    }